@{
    ViewBag.Title = "QuenMatKhau";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container" style="padding-top:90px">
    <div class="sign-up__form">
        @using (Html.BeginForm())
        {

            <div class="sign-up__content">
                <input class="sign-up__inp" name="email" style=" text-transform: none;" placeholder="Email" value="@ViewBag.email" /> <h6 class="text-danger">@ViewData["Loi1"]</h6>
                <div class="sign-up__buttons" style="padding-left:170px">
                    <button class="btn btn--signin" type="submit" style="text-align:center">Tiếp tục</button>
                </div>
            </div>

        }
    </div>
</div>
