
@{
    ViewBag.Title = "HienThi";
    Layout = "~/Views/Shared/_LayoutQL2.cshtml";
}
@model dynamic
@using QL_Resort.Models

<div>
    <h2>@Model.TTDP.Songayo</h2><br />
    <h2>@Model.TTDP.Soluong</h2><br />
    <h2>@Model.TTDP.Tenphong</h2><br />
</div>


