
@{
    ViewBag.Title = "ThanhToanThanhCong";
    Layout = "~/Views/Shared/_LayoutQL2.cshtml";
}
<div class="container" style="padding-top:100px; padding-bottom:50px">
    <h2>Bạn Đã Thanh Toán Thành Công</h2><br />
    <a href="/Home/Index" class="book_now_btn button_hove">Về Trang Chủ</a>
</div>


