
@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Shared/_LayoutQL2.cshtml";
}
<style>
    #divNavigation {
        display: none;
    }
</style>
<div class="container">
    <div class="width-details">
        <h3 style="text-align:center;padding-bottom:20px">Thống Kê Doanh Thu Các Tháng Trong Năm</h3>
        <div class="row">
            <div class="col-md-12">
                <select id="dllYear" class="form-control" style="width: 150px">
                    <option>Select Year</option>
                    @for (int i = -3; i < 3; i++)
                    {
                        <option value="@(DateTime.Now.Year + i)">@(DateTime.Now.Year + i)</option>
                    }
                </select>
                <div id="dvChart">
                    <canvas style="height:200px" id="chartProduct"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/Chart/Chart.min.js"></script>
    <script>

        $('#dllYear').on('change', function () {
            var year = $(this).val();

            $.get('/Admin/ThongKeDoanhThu?year=' + year, function (redt) {
                ChartProduct(redt)
            });
        });


        function ChartProduct(thongke) {
            console.log(thongke)
            var lstLabel = [];
            var lstDataSource = [];
            $.each(thongke, function (index, item) {
                lstLabel.push(Date.now);
                lstDataSource.push(item.DOANHTHU);
            });

            var ctx = document.getElementById("chartProduct");

            var barChartData = {
                labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                datasets: [
                        {
                            label: "Tổng tiền trong tháng",
                            backgroundColor: '#0b9663',
                            borderWidth: 1,
                            data: lstDataSource
                        }
                ]
            };


            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
            });
        }
    </script>
}

