
@{
    ViewBag.Title = "ThanhToanThanhCong";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="container" style="padding-top:100px; padding-bottom:50px">
    <h2 style="text-align:center">Đã Đặt Phòng Thành Công</h2><br />
    <div style="margin-left:450px">
        <a href="/Home/Index" class="book_now_btn button_hove" style="width:200px;height:40px;border-radius:10px;text-align:center">Về Trang Chủ</a>
    </div>
</div>
@if (Session["done"] != null)
{
<script type="text/javascript">
        swal({
            icon: "success",
            title: "Notification",
            text:"@Session["done"].ToString()"
    });
</script>
    Session["done"] = null;
}
