
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
        <div class="row">
            <div class="col-md-6" style="color:white">
                <div class="content" style="padding-bottom:20px">
                    <h2>Liên Hệ</h2>
                    <p style="font-size:16px;">Vui lòng liên hệ trực tiếp với chúng tôi nếu bạn có bất kỳ thắc mắc nào về chỗ ở. Chúng tôi rất thích có bạn ở lại với chúng tôi!</p>
                </div>
                <div>
                    <img src="https://lanrung.com.vn/wp-content/themes/flatsome-child/assets/images/icon_address.png">
                    <a class="title" style="font-size:22px">Moonlight Resort</a>
                    <p style="font-size:16px; padding-top:10px">140 Lê Trọng Tấn, Phường Tây Thành, Quận Tân Phú, Thành Phố Hồ Chí Minh</p>
                </div>
                <div>
                    <br />
                    <img src="https://lanrung.com.vn/wp-content/themes/flatsome-child/assets/images/icon_phone.png">
                    <a style="font-size:16px"><a href="tel:036 241 7182" style="color:white">036 241 7182</a></a>
                    <p><a href="tel:"></a></p>
                </div>
                <div>
                    <br />
                    <img src="https://lanrung.com.vn/wp-content/themes/flatsome-child/assets/images/icon_email.png">
                    <a style="font-size:16px"><a href="mailto:nalethuy@gmail.com" style="color:white">moonlightresort@gmail.com</a></a>
                    <p><a href="mailto:"></a></p>
                </div>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26940.121005368186!2d106.6327545107033!3d10.82193654981788!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be27d8b4f4d%3A0x92dcba2950430867!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2hp4buHcCBUaOG7sWMgcGjhuqltIFRQLkhDTQ!5e0!3m2!1svi!2sus!4v1669121756186!5m2!1svi!2sus" width="100%" height="500px" style="border:0; position:absolute; border-radius:10px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

